
#navbar {
    height: 32px;
    margin-left: 25%;
    margin-right: 15%;
    background-color: aqua;
    overflow: hidden;
}

.secondary-toolbar {
    background-color: aquamarine;
}

.topnav {
    overflow: hidden;
    background-color: gray;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.topnav .search-container {
    float: right;
}

.topnav input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 12px;
    border: none;
}